:root {
  --primary-color: #0BBF64;
  --secondary-color: #35c700;
  --background-color: #ffffff51;
  --navbar-color: #96939324;
  --text-color: #333;
}

.navbar {
  color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--navbar-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

  .navbar-logo img {
    width: 10rem;
    height: 5rem;
    object-fit: contain;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .navbar-menu li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-menu li a:hover {
    color: var(--secondary-color);
  }

  .navbar span {
    color: var(--secondary-color);
    font-weight: bold;
  }

  .logout-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(11, 191, 100, 0.3);
}

.logout-button:active {
    background-color: var(--primary-color);
    transform: scale(0.95);
}